/*Comentarios*/
@import url('https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap');

/*Reset universal*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body{
  font-family: "Unkempt", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(255, 255, 255);
  color: pink;
}

.portafolio-header{
    background: linear-gradient(135deg, #b0eaff, #fefdff);
    color: rgb(0, 0, 0);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}